
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <h5>Adı Soyadı:</h5>
                <hr size="10" />
                <h5>Alanı:</h5>
                <hr size="10" />
            </div>
        </div>
    </div>
</div>