
@{
    ViewBag.Title = "Çalışanların Kullandıkları İzinler";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

        </div>
        <!-- Card Body -->
        <div class="card-body" style="height: 28rem;">
            <div class="chart-area">

                <label for="PersonalNumberPermission">User1:</label>
                <select class="form-select" aria-label="DateSelect">
                    <option selected>Tarihleri görmek için tıklayınız</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
                <br />
                <br />
                <br />

                <label for="PersonalNumberPermission2">User2:</label>
                <select class="form-select" aria-label="DateSelect2">
                    <option selected>Tarihleri görmek için tıklayınız</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
                <br />
                <br />
                <br />

                <label for="PersonalNumberPermission3">User3:</label>
                <select class="form-select" aria-label="DateSelect3">
                    <option selected>Tarihleri görmek için tıklayınız</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <br />
                <br />
                <div class="mb-3">
                    <label for="PersonalTextArea" class="form-label">Açıklama</label>
                    <textarea class="form-control" id="PersonalTextArea" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>