
@{
    ViewBag.Title = "İzin Talebi Oluştur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Area Chart -->
<div class="col-xl-12 col-lg-7">
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

        </div>
        <!-- Card Body -->
        <div class="card-body">
            <div class="chart-area">
                <form action="/action_page.php">
                    <label for="StartDate">İzin Başlangıç Tarihi:</label>
                    <input type="date" id="startdate" name="startdate">

                </form>
                <br />
                <br />
                <br />

                <form action="/action_page.php">
                    <label for="EndDate">İzin Bitiş Tarihi:</label>
                    <input type="date" id="enddate" name="enddate">

                    <br />
                    <br />
                    <br />

                    <div class="mb-3">
                        <label for="CreateReqTextArea" class="form-label">İzin Sebebi</label>
                        <input class="form-control" type="text" aria-label="İzin sebebi">
                    </div>

                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <button class="btn btn-dark me-md-2" type="button">Talep Oluştur</button>

                    </div>
</div>
        </div>
    </div>
</div>
